#includes:
#    - ./vendor/nunomaduro/larastan/extension.neon
#    - ./vendor/tpetry/laravel-postgresql-enhanced/phpstan-extension.neon

parameters:

    paths:
        - app/

    level: 9

    ignoreErrors:

    excludePaths:

#    checkMissingIterableValueType: false
